name: Deploy Java project to Azure Function App
on:
  push:
    branches: ["main"]
env:
  AZURE_FUNCTIONAPP_NAME: 'your-app-name'   
  POM_XML_DIRECTORY: '.'                    
  DISTRIBUTION: 'zulu'                      
  JAVA_VERSION: '8'                         
jobs:
  build-and-deploy:
    runs-on: windows-latest
    environment: dev
    steps:
    - name: 'Checkout GitHub Action'
      uses: actions/checkout@v4
    - name: Setup Java Sdk ${{ env.JAVA_VERSION }}
      uses: actions/setup-java@v4
      with:
        distribution: ${{ env.DISTRIBUTION }}
        java-version: ${{ env.JAVA_VERSION }}
    - name: 'Restore Project Dependencies Using Mvn'
      shell: pwsh 
      run: |
        pushd './${{ env.POM_XML_DIRECTORY }}'
        mvn clean package
        popd
    - name: 'Run Azure Functions Action'
      uses: Azure/functions-action@v1
      id: fa
      with:
        app-name: ${{ env.AZURE_FUNCTIONAPP_NAME }}
        package: '${{ env.POM_XML_DIRECTORY }}'
        publish-profile: ${{ secrets.AZURE_FUNCTIONAPP_PUBLISH_PROFILE }} 
        respect-pom-xml: true
